*{ margin:0px; padding:0px;}
ul,li{ list-style-type:none;}
a{ text-decoration:none; color:#333333;}
a:hover{ text-decoration:underline;}
.fl{ float:left;}
.fr{ float:right;}

.float{ width:1200px; height:462px; overflow:hidden; margin:20px auto;}
.float img{ border:0px;}
.float_left1{ width:280px; height:462px; overflow:hidden; background:url(../../images/floor1.jpg) no-repeat center top;}
.float_left1 p{ width:260px; height:auto; overflow:hidden; margin:350px auto 0 auto;}
.float_left1 p span{ width:120px; height:30px; background:#FFFFFF; display:block; text-align:center; margin-bottom:17px; line-height:30px; border-radius:15px;}
.float_left1 p span a{ color:#ff7200; font-size:14px; font-weight:bold; font-family:"Microsoft YaHei";}
.float_left2{ width:600px; height:482px; overflow:hidden; position:relative; margin-left:20px;}
.float_left2_top{ width:600px; height:300px; overflow:hidden; position:relative;}
.float_left2_top p{ float:left;}
.pagenation{ width:600px; height:10px; overflow:hidden; margin-top:10px;}
.pagenation p{ margin:0 auto; width:96px;}
.pagenation p span{ width:20px; height:4px; border:1px solid #fc8e34; display:block; float:left; border-radius:2px; margin:0 5px; cursor:pointer;}
.pagenation p span.active{ background:#fc8e34;}
.float_left2_middle{ width:600px; height:23px; line-height:20px; overflow:hidden;}
.float_left2_middle p{ width:30px; text-align:center; float:left; font-size:14px; font-weight:bold; font-family:"Microsoft YaHei"; border-bottom:3px solid #fc8e34;}
.float_left2_middle a{ float:right; font-size:12px;}
.float_left2_footer{ width:600px; height:auto; padding-top:10px; overflow:hidden;}
.float_left2_footer ul li{ width:600px; height:28px;}
.float_left2_footer ul li a{ font-size:14px; color:#333333; line-height:25px; float:left;}
.float_left2_footer ul li label{ float:right; color:#333333; font-size:12px;}
.float_left3{ width:280px; height:462px; overflow:hidden;}
.float_left3 div{ width:280px; height:86px; position:relative; overflow:hidden; margin-bottom:8px;}
.float_left3 div img{ width:252px; height:86px;}
.float_left3 div span{ width:28px; height:86px; display:block; position:absolute; right:0px; top:0px; z-index:10; }
.float_left3 div span.com_ing{ background:url(../../images/com_ing.jpg) no-repeat center top;}
.float_left3 div span.com_ready{ background:url(../../images/com_ready.jpg) no-repeat center top;}
.float_left3 div span.com_end{ background:url(../../images/com_end.jpg) no-repeat center top;}


.float2_left1{ width:280px; height:462px; background:url(../../images/floor2.png) no-repeat center top;}
.float2_left1 p{ width:140px; height:42px; background:#FFFFFF; border-radius:21px; text-align:center; line-height:42px; margin:400px auto 0 auto;}
.float2_left1 p a{ width:100%; height:100%; text-decoration:none; display:block; color:#5db3dc; font-weight:bold; font-size:18px; font-family:"Microsoft YaHei";}
.float2_left2{ width:600px; height:462px; overflow:hidden; margin-left:20px;}
.float2_left2_live{ width:600px; height:359px; overflow:hidden; position:relative;}
.float2_left2_middle{ padding-top:10px;}
.float2_left2_middle p{ width:60px;}
.float2_left2_footer{ font-size:12px; color:#797979; line-height:20px; text-indent:2em; padding-top:7px;}
.float2_left3{ width:278px; height:460px; border:1px solid #c9c9c9;}
.float2_left3_top{ width:250px; height:30px; margin:0 auto;}
.float2_left3_top p{ width:120px; height:30px; background:#5db3dc; text-align:center; line-height:30px; font-size:14px; color:#FFFFFF; font-weight:bold;}
.float2_left3_content{ width:258px; height:400px; margin:0 auto; position:relative; overflow:hidden; margin-top:10px;}
.float2_left3_content1{ width:258px; height:auto; position:relative;}
.float2_left3_content1 div{ width:258px; height:50px;}
.float2_left3_content1 div p.live_time{ width:40px; height:50px; font-size:12px; line-height:16px; float:left;}
.float2_left3_content1 div p.live_point{ width:15px; height:15px; border-radius:7.5px; float:left; background:#ffffff; overflow:hidden;}
.float2_left3_content1 div p.live_point span{ width:5px; height:5px; display:block; border-radius:50%; margin:5px auto;}
.float2_left3_content1 div p.live_title{ width:190px; height:50px; font-size:12px; color:#333333; float:right;}

.float2_left3_content1 div.red p.live_time{ color:#ce0e08;}
.float2_left3_content1 div.red p.live_point{ border:1px solid #ce0e08;}
.float2_left3_content1 div.red p.live_point span{background:#ce0e08;}
.float2_left3_content1 div.yellow p.live_time{ color:#ff934e;}
.float2_left3_content1 div.yellow p.live_point{ border:1px solid #ff934e;}
.float2_left3_content1 div.yellow p.live_point span{background:#ff934e;}
.float2_left3_content1 div.green p.live_time{ color:#85d157;}
.float2_left3_content1 div.green p.live_point{ border:1px solid #85d157;}
.float2_left3_content1 div.green p.live_point span{background:#85d157;}
.autoline{ width:1px; height:100%; background:#c9c9c9; display:block; position:absolute; left:48px; z-index:-1;}

.float3_left1{ width:280px; height:462px; background:url(../../images/floor3.png) no-repeat center top;}
.float3_left1 label{ width:100%; height:auto; text-align:center; font-size:42px; color:#FFFFFF; font-family:"Microsoft YaHei"; font-weight:bold; display:block; margin-top:110px;}
.float3_left1 p{ width:140px; height:auto; overflow:hidden; margin:20px auto;}
.float3_left1 p span{ width:140px; height:42px; background:#FFFFFF; border-radius:21px; display:block; text-align:center; line-height:42px; overflow:hidden; margin-bottom:17px;}
.float3_left1 p span a{ width:100%; height:100%; text-decoration:none; display:block; color:#7d8bb6; font-weight:bold; font-size:18px; font-family:"Microsoft YaHei";}
.float3_left2_top{ width:600px; height:164px; overflow:hidden; position:relative;}
.float3_left2_footer{ width:600px; height: auto; padding-top:5px;}
.float3_left2_footer ul li { width:600px; height:44px; line-height:22px; margin:5px auto; cursor:pointer;}
.float3_left2_footer ul li p.zb_top{ width:500px; height:22px; font-size:14px; color:#333333; font-weight:bold; font-family:"Microsoft YaHei"; float:left;}
.float3_left2_footer ul li p.zb_content{ font-size:12px; color:#797979; float:left;}
.float3_left2_footer ul li p.zb_time{ width:100px; height:44px; float:right; font-size:14px; font-weight:bold; font-family:"Microsoft YaHei"; text-align:right; color:#e25942;}
.float3_left3{ width:280px; height:462px; overflow:hidden;}
.float3_left3 p{ width:280px; height:200px; margin-bottom:10px;}
.float3_left3 p img{ width:280px; height:200px;}
.float3_left3 span{ width:120px; height:36px; border:1px solid #7d8bb6; display:block; margin:0 auto; text-align:center; line-height:36px; border-radius:18px;}
.float3_left3 span a{ font-family:"Microsoft yaHei"; font-weight:bold; font-size:18px; color:#7d8bb6; width:100%; height:100%; display:block;}

.float4_left1{ width:280px; height:462px; background:url(../../images/floor4.png) no-repeat center top; overflow:hidden;}
.float4_left1_l1{ width:100%; height:auto; text-align:center; font-size:42px; color:#FFFFFF; font-family:"Microsoft YaHei"; font-weight:bold; display:block; margin-top:110px;}
.float4_left1_l2{ width:100%; height:auto; text-align:center; font-size:20px; color:#FFFFFF; font-family:"Microsoft YaHei"; font-weight:bold; display:block; margin-top:20px;}
.float4_left1 p{ width:140px; height:auto; overflow:hidden; margin:105px auto;}
.float4_left1 p span{ width:140px; height:42px; background:#FFFFFF; border-radius:21px; display:block; text-align:center; line-height:42px; overflow:hidden; margin-bottom:17px;}
.float4_left1 p span a{ width:100%; height:100%; text-decoration:none; display:block; color:#f27676; font-weight:bold; font-size:18px; font-family:"Microsoft YaHei";}
.float4_left2_top{ width:600px; height:344px; overflow:hidden; position:relative; margin-left:20px;}
.float4_left2_top div.f4big{ width:290px; height:164px; overflow:hidden; position:relative; margin-bottom:16px;}
.float4_left2_top div.f4big img{ width:290px; height:164px;}
.float4_left2_top div.f4big span{ width:120px; height:30px; text-align:center; line-height:30px; font-size:16px; color:#ffffff; font-weight:bold; font-family:"Microsoft YaHei"; display:block; position:absolute; left:50%; margin-left:-60px; top:0px; z-index:10; background:url(../../images/pink_bg.png) no-repeat center top;}
.float4_left2_top div.f4small{ width:290px; height:164px; overflow:hidden; position:relative; margin-bottom:16px;}
.float4_left2_top div.f4small p{ width:135px; height:164px; position:relative;}
.float4_left2_top div.f4small p img{ width:135px; height:164px;}
.float4_left2_top div.f4small p span{ width:120px; height:30px; text-align:center; line-height:30px; font-size:16px; color:#ffffff; font-weight:bold; font-family:"Microsoft YaHei"; display:block; position:absolute; left:50%; margin-left:-60px; top:0px; z-index:10; background:url(../../images/pink_bg.png) no-repeat center top;}
.float4_left3{ width:280px; height:344px; overflow:hidden; position:relative;}
.float4_left3 span{ width:120px; height:30px; text-align:center; line-height:30px; font-size:16px; color:#ffffff; font-weight:bold; font-family:"Microsoft YaHei"; display:block; position:absolute; left:50%; margin-left:-60px; top:0px; z-index:10; background:url(../../images/pink_bg.png) no-repeat center top;}
.float4_bottm{ width:900px; height:auto; float:right; overflow:hidden;}
.float4_bottm1{ width:717px; height:auto; overflow:hidden;}
.float4_bottm1 p{ width:160px; height:44px; background:#ffeaea; border:1px solid #f27676; text-align:center; line-height:44px; margin-top:13px; font-family:"Microsoft YaHei"; font-size:16px; font-weight:bold; color:#626262;}
.float4_bottm1 p.fl{ margin-right:23px;}
.float4_bottm2{ width:160px; height:103px; background:#ffeaea; border:1px solid #f27676; text-align:center; line-height:100px; margin-top:13px; font-family:"Microsoft YaHei"; font-size:16px; font-weight:bold; color:#626262;}

.float5_left1{ width:280px; height:462px; background:url(../../images/floor5.jpg) no-repeat center top; overflow:hidden;}
.float5_left1 p{ width:140px; height:auto; overflow:hidden; margin:337px auto;}
.float5_left1 p span{ width:140px; height:42px; background:#FFFFFF; border-radius:21px; display:block; text-align:center; line-height:42px; overflow:hidden; margin-bottom:17px;}
.float5_left1 p span a{ width:100%; height:100%; text-decoration:none; display:block;  color:#68b587; font-weight:bold; font-size:18px; font-family:"Microsoft YaHei";}
.float5_left2{ width:900px; height:462px; overflow:hidden;}
.float5_left21{ width:900px; height:auto; overflow:hidden;}
.float5_left21 ul li{ height:25px; line-height:25px; float:left; line-height:20px; margin-right:30px;}
.float5_left21 ul li a{ font-size:14px; color:#333333; font-family:"Microsoft YaHei"; font-weight:bold;}
.float5_left21 ul li a:hover{ text-decoration:none;}
.float5_left21 ul li.active{ border-bottom:3px solid #ff7200;}
.float5_left22 div.fl{ margin-right:40px;}
.live_class{ width:194px; height:188px; overflow:hidden; position:relative; margin-top:20px; margin-bottom:10px;}
.live_class img{ width:194px; height:128px;}
.live_class div{ width:194px; height:60px; margin-top:6px;}
.live_class div span{ width:194px; height:18px; display:block; line-height:18px; font-size:12px; color:#626262;}
.live_class p{ width:70px; height:25px; background:#ff7200; border-radius:13px; text-align:center; line-height:25px; font-size:12px; color:#FFFFFF; position:absolute; right:0px; bottom:0px; cursor:pointer;}


.hzdw{ width:1200px; height:auto; overflow:hidden; margin:20px auto;}
.hzdw1{ width:900px; height:28px; overflow:hidden;}
.hzdw1 ul li{ height:25px; float:left; margin-right:30px; font-size:16px; cursor:pointer; color:#000000; font-family:"Microsoft YaHei";}
.hzdw1 ul li.active{ color:#ff7200; border-bottom:3px solid #ff7200;}
.hzdw2{ width:1200px; height:150px; overflow:hidden; margin-top:15px;}
.hzdw2 ul li{ width:300px; height:30px; line-height:30px; float:left; font-size:14px; color:#333333; font-family:"Microsoft YaHei";}
.footer{ width:100%; height:auto; padding:36px 0px; background:#262626; overflow:hidden;}  
.footer_content{ width:1200px; height:auto; margin:0 auto; position:relative;}
.fc1{ width:300px; height:75px; line-height:25px; }
.fc1 p{ width:275px; height:25px; font-size:12px; color:#FFFFFF; padding-left:25px;}
.fc1_p1{ background:url(../../images/ft_img1.png) no-repeat left center;}
.fc1_p2{ background:url(../../images/ft_img2.png) no-repeat left center;}
.fc1_p3{ background:url(../../images/ft_img3.png) no-repeat left center;}
.fc1_p3 label{ float:left;}
.fc1_p3 img{ float:left; margin-left:10px;}
.fc2{ width:300px; height:auto; overflow:hidden;}
.fc2 p{ font-size:12px; color:#FFFFFF; line-height:20px;}
.fc2 p img{ margin-bottom:5px;}
.fc3{ width:88px; height:115px; position:absolute; right:-20px; top:-20px; text-align:center; line-height:24px; color:#FFFFFF; font-size:12px;}